.text-right {
  text-align: right !important;
}

.no-wrap {
  white-space: nowrap;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.375rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}

.book-navigation-under-body {
  ul.menu {
    margin-top: .5rem;
    & > li {
      position: relative;
      padding-left: 16px;
      margin-bottom: .5rem;

      &:before {
        content: " ";
        background: url(../../images/arrow.svg);
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 2px;
        left: -6px;
      }
    }
  }
}

// Book navigation
.book-navigation {

  h2#in-this-section {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: 300;
    margin-top: 3rem;
  }

  ul.menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 15px;
    padding-left: 15px;
  }

  .book-navigation-links {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    .link-prev,
    .link-next {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;

      a {
        border-bottom: none;
        &:hover {
          border-bottom: none;
        }
      }
    }

    .link-prev {
      text-align: left;

      .arrow-left {
        transform: rotate(180deg);
        height: 18px;
        width: 18px;
        margin-bottom: 2px;
        position: absolute;
        top: 5px;
        left: 12px;
      }

    }

    .link-next {
      text-align: right;

      .arrow-right {
        height: 18px;
        width: 18px;
        margin-bottom: 6px;
      }
    }

    .link-up {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      text-align: center;
      width: 16.66667%;

      a {
        padding-bottom: 0;
        border-bottom: none;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }

    .nav-mob-helper {
      display: none;
      font-size: 1rem;
    }

    @include small-screens() {
      .nav-mob-helper {
        display: inline-block;
      }
      .link-title-full {
        display: none;
      }
    }

  }

  ul.menu {
    @extend .list-unstyled;
    li {
      list-style: none;
    }
  }
  .page-next {
    width: auto;
  }
  .page-previous {
    width: auto;
    padding-left: 1rem
  }
  .navdiv-up{
    margin-left: 50%;
  }
}


#block-book-navigation {

  @include small-screens() {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      list-style: none;
      padding-left: 0;
    }

    a.active {
      color: #12293A;
      font-weight: 400;
    }

    li.expanded > ul.menu {
      margin-top: .5rem;
      & > li {
        position: relative;
        padding-left: 16px;
        &:before {
          content: " ";
          background: url(../../images/arrow.svg) no-repeat;
          height: 16px;
          width: 16px;
          position: absolute;
          top: 2px;
          left: -6px;
        }
      }
    }
  }
}

.node-type-publication-section {

  .layout-sidebar__main {
    max-width: 100% !important;
  }

  .deco-icon {
    max-width: 280px;
  }
  .deco-icon-left {
    max-width: 280px;
    float: left;
    margin-right: 2rem;
  }
  .deco-icon-right {
    max-width: 320px;
    float: right;
    margin-left: 2rem;
  }
  .report-highlight {
    float: left;
    padding-top: 3rem;
  }
  table.report-table {
    border: none;
    img.img-arrow {
      width: 15px;
      height: 20px;
      padding-bottom: 5px;
    }
    .total-mark {
      float: right;
    }
  }
  table.report-table-no-border {
    tr td {
      border-bottom: none !important;
    }
  }
  th, td {
    padding: 1em;
    vertical-align: top;
  }
  tr td {
    border-bottom: 2px solid #BCBDC0;
  }
  tr:last-of-type td {
    border-bottom-color: #081D3E;
  }
  table.report-table td.section,
  table.report-table tr.section {
    background: #ECEDED;
  }
  th {
    background: #09BAB9;
    text-align: left;

    p {
      margin: 0;
    }
  }
  table.report-table td.in-progress {
    background: #A1CF62;
  }

  table.report-table span.in-progress {
    background: #A1CF62;
    padding: 1rem;
  }

  table.report-table td.met {
    background: #36B45C;
    color: #fff;
  }
  table.report-table td.borderbtm {
    border-bottom-color: #081D3E;
  }

  .report-casestudy{
    padding: 1rem;
    background: #B6E0D9;
    margin-bottom: 2rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 300;
      color: white;
      background: url(../../images/case-study-heading-bg.png) no-repeat 0 0;
      padding: 2rem;
      margin-left: -1rem;
      margin-right: -1rem;
      background-size: cover;
    }

    .casestudy-mark {
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 1rem;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    blockquote {
      line-height: 1.5rem;
      position: relative;
      padding-left: 40px;
      max-width: 50%;
      margin-top: 2rem;
      font-style: normal;
      background: url(../../images/quotes.png) no-repeat 0 0;
      background-size: 24px;

      @include small-screens() {
        max-width: 90%;
      }
    }

  }

  .color-green{
    color: #00757A;
  }

  .report-ml {
    margin-left: 1rem;
  }

  .report-caption {
    font-weight: 400;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
  }
}
