// Clearfix
//
// Markup: clearfix.html
//
// Styleguide components.clearfix

@import '../../../../../doca_base/doca_common/src/sass/library/clearfix';

.clearfix,
%clearfix {
  @include clearfix();
}

.clearfix__overflow,
%clearfix__overflow {
  display: block;
  overflow: hidden;
  width: 100%;
}
